
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 600px;
    background-color: beige;
}
h1{
    text-align: center;
    padding-top: 80px;
    margin-bottom: 50px;
}
input{
    height: 40px;
    width: 100%;
    margin: 10px;
    display: block;
    align-self: center;
}
label{
    font-size: 25px;
    font-weight: 500;
}
.d{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
button{
    height: 40px;
    width: 120px;
}