*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: grid;
    height: 200px;
    width: 800px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    gap: 5px;
}
img{
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 900px) {
   .container {
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
    .container {
    width: 200px;
    height: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}