*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
.container{
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(8,1fr);
    background-color: grey;
    height: 100vh;
    width: 100vh;
   
}
.white{
    background-color: white;
}
.brown{
    background-color: brown;
}